@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&display=swap');
body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-image: linear-gradient(100deg, #f5f7fa 0%, #c3cfe2 100%);
  transition: all 1.5s ease-out;
}
.home{
  text-align: center;
  font-family: 'Jura', sans-serif;
}

.content{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.content .bord-r{
  background-image: linear-gradient(100deg, #13547a 0%, #80d0c7 100%);
  min-width: 550px;
  max-width: 750px;
  height: 30rem;
  margin: 1%;
  border-radius: 0.5rem;
  overflow: auto;
}

.bord-r h1{
  border: solid;
  border-color: #13547a;
  background-color: #13547a;
  padding: 8px;
  margin-top: 0%;
  font-weight: 100;
  color: #80d0c7;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.363);
}

.form{
  display: flex;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
}

.form input{
  width: 100%;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
}
.form button{
  background-color: rgb(40, 53, 73);
  color: #80d0c7;
  padding: 8px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.form button:hover{
  background-color: #80d0c7;
  color: rgb(40, 53, 73);
  font-weight: bold;
}
.form button:active{
  background-color: rgb(40, 53, 73);
  color: #80d0c7;
}

.content .bord-l{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(200deg, #13547a 0%, #80d0c7 100%);
  width: 20%;
  height: 30rem;
  min-width: 250px;
  border-radius: 0.5rem;
  margin: 1%;
}
.bord-l button{
  width: 100%;
  background-color: transparent;
  height: 4rem;
  border: none;
  font-family: 'Jura', sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-align: left;
  padding: 14px;
}

.bord-l button:hover{
  background-color: #185f88;
  color: #80d0c7;
}

.content .main{
  background-color: #4592af;
  width: 40%;
  height: 30rem;
  margin: 1%;
  text-align: left;
  min-width: 550px;
  max-width: 750px;
  overflow: auto;
}

.main h1{
  border: solid;
  border-color: #13547a;
  background-color: #13547a;
  padding: 8px;
  margin-top: 0%;
  font-weight: 100;
  color: #80d0c7;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.363);
}

.main-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.task{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #509bc7;
  margin: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
  border-radius: 8px;
}

.btn-group{
  align-items: center;
  margin-right: 2%;
}


.btn-group button{
  height: 30px;
  width: 75px;
  margin: 2px;
  border: none;
  border-radius: 4px;
}

.btn-group .edit{
  background-color: #13547a;
  color: #80d0c7;
  font-weight: 500;
}

.btn-group .edit:hover{
  background-color:#80d0c7;
  color:  #13547a;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.527);
}

.btn-group .remove{
  background-color: brown;
  color: #9cf8ed;
  font-weight: 500;
}

.btn-group .remove:hover{
  background-color:#80d0c7;
  color:  brown;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.527);
}

.btn-group-option {
  background-color: #4592af;
  margin-top: -2%;
  margin-left: 27%;
  margin-right: 27%;
  padding: 4px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn-group-option button{
  width: 60px;
  margin: 2px;
  border: none;
  border-radius: 14px;
  padding: 4px;
}

.btn-group-option #edit{
  background-color: #13547a;
  color: #f1f1f1;
}
.btn-group-option #edit:hover{
  cursor: pointer;
  background-color: #80d0c7;
  color: #13547a;
}

.btn-group-option #edit:active{
  background-color: #13547a;
  color: #f1f1f1;
}

.btn-group-option #delete{
  background-color: brown;
  color: #f1f1f1;
}
.btn-group-option #delete:hover{
  cursor: pointer;
  background-color: rgb(179, 122, 122);
  color: black;
}

.btn-group-option #delete:active{
  background-color: brown;
  color: #f1f1f1;
}



.task label{
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  font-weight: 600;
  background-color: transparent;
}


.task:hover{
  background-color: #56a9da;
  transition: ease-in-out 5;
}

















/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #13547a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56a9da;
}